.agenda {
    font-size: 4em;
    color: black;
}

.col-lg-10 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fa-pencil-alt {
    font-size: 4em;
    text-align: center;
    color: #303081;
}

#senhaForm .form-control {
    max-width: 250px;
}
